<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{base::layout(~{::section})}">

<head>
    <meta charset="UTF-8">
    <title>Success</title>
</head>

<body>
<section>
    <div class="container-fluid mt-5 p-5 bg-light">
        <div class="row">
            <div class="col-md-10 offset-md-1">
                <p class="fs-3 text-center">My profile</p>
                <hr>
                <div class="text-center">
                    <img th:src="${user.profileImage != null and user.profileImage != ''}
                                          ? ${user.profileImage}
                                          : @{/img/profile_img/ecom.png}" alt="Profile image" class="border p-2"
                         style="width: 110px; height: 110px; border-radius: 50%;">
                </div>
                <div class="col-md-8 offset-md-2 mt-4">
                    <table class="table table-borderless">
                        <tbody>
                        <form action="">
                            <tr>
                                <th scope="row">Name</th>
                                <td>:</td>
                                <td><input type="text" name="" class="form-control" th:value="${user.name}"></td>
                            </tr>
                            <tr>
                                <th scope="row">Mobile Number</th>
                                <td>:</td>
                                <td><input type="text" name="" class="form-control" th:value="${user.mobileNumber}"></td>
                            </tr>
                            <tr>
                                <th scope="row">Email</th>
                                <td>:</td>
                                <td><input type="text" name="" class="form-control" th:value="${user.email}"></td>
                            </tr>
                            <tr>
                                <th scope="row">Address</th>
                                <td>:</td>
                                <td><input type="text" name="" class="form-control" th:value="${user.address}"></td>
                            </tr>
                            <tr>
                                <th scope="row">City</th>
                                <td>:</td>
                                <td><input type="text" name="" class="form-control" th:value="${user.city}"></td>
                            </tr>
                            <tr>
                                <th scope="row">State</th>
                                <td>:</td>
                                <td><input type="text" name="" class="form-control" th:value="${user.state}"></td>
                            </tr>
                            <tr>
                                <th scope="row">Pincode</th>
                                <td>:</td>
                                <td><input type="number" name="" class="form-control" th:value="${user.pinCode}"></td>
                            </tr>
                            <tr>
                                <th scope="row">Image</th>
                                <td>:</td>
                                <td><input type="file" name="" class="form-control" value=""></td>
                            </tr>
                            <tr>
                                <th scope="row">Role</th>
                                <td>:</td>
                                <td><input type="text" name="" class="form-control" th:value="${user.role}" readonly></td>
                            </tr>
                            <tr>
                                <th scope="row">Account Status</th>
                                <td>:</td>
                                <td><input type="text" name="" class="form-control" th:value="${user.isEnabled}" readonly></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td class="text-center"><button class="btn-ecomm text-light">Update</button>
                                </td>
                            </tr>
                        </form>
                        </tbody>
                    </table>
                </div>
            </div>
            <hr>
            <div class="col-md-10 offset-md-1 mt-1">
                <div class="row">
                    <p class="text-center">Change Password</p>
                </div>
                <div>
                    <table class="table table borderless">
                        <tbody>
                            <form>
                                <tr>
                                    <th scope="row">Current Password</th>
                                    <td><input type="password" name="" class="form-control" value=""></td>
                                </tr>
                                <tr>
                                    <th scope="row">New Password</th>
                                    <td><input type="password" name="" class="form-control" value="" readonly></td>
                                </tr>
                                <tr>
                                    <th scope="row">Confirm Password</th>
                                    <td><input type="password" name="" class="form-control" value="" readonly></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td class="text-center"><button class="btn-ecomm text-light">Update</button>
                                    </td>
                                </tr>
                            </form>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
</body>

</html>